<p>register works!</p>


<div class = 'row m-0 w-100'>

    <div class = 'col-md-4 offset-4 mt-5' *ngIf = '!this.isLogin'>
    <h4>Register</h4>
    <form #myform = "ngForm" (ngSubmit) = "onSubmit(myform)" >
    <div class = 'form-group'>
    <input class = 'form-control'  id="name" type = "text" name = "name" placeholder = "name" [(ngModel)]="name" required>
    </div>
    <div class = 'form-group'>
    <input class = 'form-control'  id="email" type = "email" name = "email" placeholder = "Email" [(ngModel)]="email" required>
    </div>
    <div class = 'form-group'>
    <input class = 'form-control' id="pass" type = "password" name = "password" placeholder = "Password"[(ngModel)]="password" required>
    </div>

    <div class = 'form-group'>
        <input class = 'form-control' id ="confirmPass" type = "password" name = "passwordConfirm" placeholder = "Conform Password" [(ngModel)]="confirmPass" required>
        </div>
    <input class= 'btn btn-outline-info' type = "submit" value = "Register"> <!--(click)="registerValidation()"-->
    </form>
    </div>
    <div class = 'col-md-4 offset-4 mt-5' *ngIf = 'this.isLogin'>
    <h5>You are logged in</h5>
    </div>
    </div>
